pandas>=2.0
numpy<2
matplotlib
openpyxl
xlrd
jupyter
notebook
scipy
shapely
rtree
pyproj>=2.0
pyshp
psutil
gitpython
nbconvert
flopy==3.9.3
git+https://github.com/pypest/pyemu.git@develop
pypestutils==0.3.0
